<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/login.css">
    <title>Login</title>

</head>

<body>

    <header>
        <h1>Welcome to Violet Avenue Gardeners</h1>
    </header>

    <nav>
        <ul>
            <li id="homeBtn" class="clicky">Home</li>
            <li id="registrationBtn" class="clicky">Registration</li>
            <li id="loginBtn" class="clicky">Login</li>
            <li id="profileBtn" class="clicky">Profile</li>
            <li id="membersBtn" class="clicky">Members</li>
        </ul>
    </nav>

    <section>
        <div class="mainContent">
            <article>
                <h1>User Login</h1>
                <form name="login_form">
                    <label for="email">Email:</label><br>
                    <input type="text" id="email" name="email" required><br>
                    <label for="password">Password:</label><br>
                    <input type="password" id="password" name="password" required><br>
                    <input type="submit" value="Submit" class="button">
                </form>
            </article>
            <aside></aside>
        </div>
    </section>
    
    <script src="/js/global.js"></script>
    <script src="/js/login.js"></script>

</body>

<footer>
</footer>

</html>